<style>
body {
background: white;
}

.container {
width: 350px;
padding: 20px;
background: #d9d9d9;
border-radius: 50px;
margin: 50px auto;
text-align: center;
}

.green, .yellow, .red {
 width: 70px;
 height: 70px;
 border-radius: 50%;
display: inline-block;
margin: 0 10px;
}

.green {
background-color: #2f7d31;
}

.yellow {
background-color: #fff94d;
}

.red {
background-color: #e63222;
}
</style>
